html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden !important;
}

.nav-item2 {
    padding-left: 25px;
    padding-right: 25px;
}

.width {
    width: 100%;
}

.btn-hovereffect:hover {
    background-color: lightgray;
    transition: 500ms;
}

.icon-resize {
    font-size: 0.5rem !important;
}

.active-btn {
    background-color: wheat !important;
}

#index-img-smiley {
    max-width: 100%;
    max-height: 100%;
}

#index-main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#index-main-img {
    height: 70vh;
}

#index-right-backimg {
    background-image: url(Pictures/Pfad_7.svg);
    --offset: var(--space);
    position: sticky;
    top: var(--offset);
    background-repeat: no-repeat;
    background-size: cover;
}

#index-right-textblock {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

#index-right-textblock-title {
    font-size: 3vw;
    font-family: 'Dosis', sans-serif;
}

#index-right-textblock-text {
    font-size: 1.5vw;
    font-family: 'Dosis', Sans-serif;
}

#index-left-img {
    background-image: url(Pictures/Pfad_8.svg);
    --offset: var(--space);
    position: sticky;
    top: var(--offset);
    background-repeat: no-repeat;
    background-size: cover;
}

#index-left-logo {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    font-family: 'Dosis', Sans-serif;
    weight: normal;
}

#index-left-logo-CandyBay {
    font-size: 4.5vw;
    font-family: 'Dosis', sans-serif;
    weight: bold;
}

#index-left-logo-subtext {
    font-size: 2.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    text-decoration-color: red;
}

#thankyou-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
}